@import "tailwindcss";

@theme {
	--color-primary-50: #f0f9ff;
	--color-primary-100: #e0f2fe;
	--color-primary-200: #bae6fd;
	--color-primary-300: #7dd3fc;
	--color-primary-400: #38bdf8;
	--color-primary-500: #0ea5e9;
	--color-primary-600: #0284c7;
	--color-primary-700: #0369a1;
	--color-primary-800: #075985;
	--color-primary-900: #0c4a6e;

	--color-surface-primary: #0f172a;
	--color-surface-secondary: #1e3a8a;
	--color-surface-tertiary: #1e293b;

	--color-content-primary: #ffffff;
	--color-content-secondary: rgba(255, 255, 255, 0.9);
	--color-content-muted: rgba(255, 255, 255, 0.7);
	--color-content-subtle: rgba(255, 255, 255, 0.6);
	--color-content-accent: #60a5fa;
}

@font-face {
	font-family: "Switzer-Regular";
	src: url("../../public/fonts/Switzer-Medium.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: "Switzer-Regular", sans-serif;
	font-weight: 300;
}
