.arow {
	font-size: 30px;
	display:block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #42474B;
}

.arow :hover {
	opacity: 0.7;
}