#footer {
	/* border-top: 1px solid #000000; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background: linear-gradient(150deg, #1a1a1a -3.38%, #3a2d2d 78.58%);
	color: #ffffff;
	font-size: 1.3em;
}

#dMode {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#copyright {
	display: flex;
	justify-content: center;
	text-decoration: none;
	font-family: none;
	margin: 1.5em 0px;
}

#socials {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#twitter {
	color: #55acee;
	text-align: center;
	margin: 0.5rem;
	font-size: 2em;
}

#youtube {
	color: #bb0000;
	margin-right: 0.2em;
	color: #bb0000;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, #ffffff 10%, #ffffff 90%, rgba(0, 0, 0, 0) 90%);
	text-align: center;
	margin: 0.5rem;
	line-height: 0.4em;
	font-size: 2em;
}

#github {
	text-align: center;
	margin: 0.5rem;
	font-size: 2em;
}

#flickr {
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 10%,
		#0063dc 10%,
		#0063dc 50%,
		#f40084 50%,
		#f40084 90%,
		rgba(0, 0, 0, 0) 90%
	);
	margin: 0.5rem;
	line-height: 0.4em;
	font-size: 2em;
}
