#footer{
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(150deg, #1a1a1a -3.38%, #3a2d2d 78.58%);
	color: #ffffff;
}

#dMode{
	display: flex;
	flex: 1;
	justify-content: center;
	flex-direction: row;
	padding: 1vw;
}

#copyright{
	display: flex;
	flex: 1;
	justify-content: center;
	text-decoration: none;
	font-family: none;
}

#socials{
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

#text{
	margin: 0;
}

#twitter{
	color: #55ACEE;
	text-align: center;
	font-size: 5vh;
	width: 5.3vh;
	height: 5.3vh;
	margin: 1vh;
}

#youtube{
  	color: #bb0000;
	background: linear-gradient(90deg, rgba(0,0,0,0) 10%, #ffffff 10%,#ffffff 90%, rgba(0,0,0,0) 90%);
	text-align: center;
	font-size: 5vh;
	width: 5vh;
	height: 3vh;
	margin: 1vh;
	line-height: 23px;
}

#github{
	text-align: center;
	font-size: 5vh;
	width: 5vh;
	height: 5vh;
	margin: 1vh;
}


#flickr{
	background: linear-gradient(90deg, rgba(0,0,0,0) 10%, #0063dc 10%, #0063dc 50%, #f40084 50%, #f40084 90%, rgba(0,0,0,0) 90%);
	color: white;
	text-align: center;
	font-size: 5.4vh;
	width: 5vh;
	height: 4.3vh;
	margin: 1vh;
	line-height: 32px;
}

#mail{
	text-align: center;
	font-size: 5vh;
	width: 5vh;
	height: 5vh;
	margin: 1vh;
}