#mainHeader{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 10vh;
	width: 100%;
	font-size: 3vh;
}

#logo{
	display: flex;
	align-items: center;
}

#image{
	margin-left: 1vh;
}

#links{
	display: flex;
	align-items: center;
}

.links {
	color: inherit;
	text-decoration: underline 0.15em rgba(255, 255, 255, 0);
	transition: text-decoration-color 300ms;
	margin: 2.5vh;
}
  
.links:hover {
	text-decoration-color: #fa7238;
}