#left {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: underline;
	flex: 1;
	font-size: 6rem;
	text-align: center;
}

#right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-size: 2rem;
	line-height: 3.5rem;
	text-align: left;
}

#intro {
	height: 60rem;
	display: flex;
	flex-wrap: wrap;
	background: linear-gradient(200deg, #38fad3, rgba(250, 56, 95, 0.993));
}

@media only screen and (max-width: 600px) {
	#right {
		text-align: center;
	}
}