#left {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: underline;
	flex: 1;
	font-size: 6rem;
	text-align: center;
}

#right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-size: 2rem;
	line-height: 3.5rem;
	text-align: left;
}

#intro {
	height: 100vh;
	display: flex;
	background: linear-gradient(200deg, #38fad3, rgba(250, 56, 95, 0.993));
}

@media screen and (max-width: 1024px) {
	#intro {
		flex-direction: column;
	}
	#right {
		text-align: center;
		align-items: flex-start;
		margin: 0 2rem;
	}
	#left{
		align-items: flex-end;
		margin-bottom: 2rem;
	}
}
