#intro {
	height: 100vh;
	display: flex;
	background: #1e1f29;
	color: #383a98;
}

#left {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: underline;
	flex: 1;
	font-size: 6rem;
	text-align: center;
}

#right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-size: 2rem;
	line-height: 3.5rem;
	text-align: left;
	color: #f5f5ff;
}

@media screen and (max-width: 1024px) {
	#intro {
		flex-direction: column;
	}
	#right {
		text-align: center;
		align-items: flex-start;
		margin: 0 2rem;
	}
	#left {
		align-items: flex-end;
		margin-bottom: 2rem;
	}
}
