.slideshow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
	height: 30rem;
	margin: 2rem 0px;
}

.slideshowSlider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 80%;
}

.slideshowImages{
	display: flex; 
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	transition: ease 1000ms;
	width: calc(100%*3);
}