.slideshow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30vh;
}

.slideshowSlider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 80%;
}

/* Slideshow */

.slideshowImages{
	white-space: nowrap;
	transition: ease 1000ms;
}

.inerSlideshow{
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 85%;
}

/* Buttons */

.transitors {
	font-size: 30px;
	display:block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #42474B;
}

.transitors :hover {
	opacity: 0.7;
}