.slideshow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30vh;
}

.slideshowSlider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 80%;
}

/* Slideshow */

.slideshowImages{
	white-space: nowrap;
	transition: ease 1000ms;
}

.inerSlideshow{
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 85%;
}
