#two {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 85vh;
	width: 100%;
	background-color: #252e38;
	color: #f0f0f1;
}

.downArow {
	font-size: 4.5em;
	position: absolute;
	left: 50vw;
	top: 85vh;
	z-index: 1;
	animation: mymove 2.5s;
	animation-iteration-count:infinite;
	cursor: pointer;
}

@keyframes mymove {
	0% {top: 85vh;}
	50% {top: 88vh;}
	100% {top: 85vh;}
}
